# Eclipse output folder #
bin

# IntelliJ output stuff #
out
obj
gen

# Mac OSX files #
.DS_Store

# IntelliJ folder #
.idea

# VSCode non-config files
browse.VC.db
.vscode/.browse.VC.db

#FNADroid-CS
FNADroid-CS/FNADroid-Lib/bin
FNADroid-CS/FNADroid-Lib/out
FNADroid-CS/FNADroid-Lib/*.userprefs
FNADroid-CS/FNADroid-Boot/bin
FNADroid-CS/FNADroid-Boot/out
FNADroid-CS/FNADroid-Boot/*.userprefs
